@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
}
:root{
    --main-color: linear-gradient(to right, #F27A54, #A154F2);
}
.nav_hov ul .active{
    position: relative;
}
.nav_hov ul .active::after{
    content: '';
    height: 2px;
    width: 80%;
    position: absolute;
    bottom: -5px; 
    left: 50%;
    transform: translateX(-50%);
    background: var(--main-color);
    transition: width 0.2s;
} 
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 1rem;
	padding-left: 1rem;
}
.flex a{
    text-decoration: none;
}
.flex a:hover{
    color: #fff;
}
.custom_btn{
    padding: 6px 20px;
    background:transparent;
    border-radius: 20px; 
    color: #fff;
    font-weight: 600; 
    border: 2px solid #fff;
    margin-left: 30px;
}
.custom_btn1{
    padding: 8px 20px;
    background-image:  linear-gradient(to right, #F27A54, #A154F2);
    border-radius: 20px; 
    color: #fff;
    font-weight: 600;
    border: none; 
    margin-left: 10px;  
}

/* hero */

.hero{
    background-color: #3C444C;
    padding-bottom: 100px;
}
.txt_box h1{
    text-align: center;
    color: #fff;
}
.txt_box {
    text-align: center;
    color: #fff;
    margin-top: 100px;
}
.main_form{
    max-width: 800px;
    margin: 0 auto;
}
.message{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.msg_box{
    width: 49%;
}
.msg_box input {
	width: 100%;
	outline: none;
	border: none;
	padding: 10px;
	border-radius: 7px;
}
label{
    color: #CBCFD4;
    padding: 5px 2px;
}
.msg_box1 input {
	width: 100%;
	outline: none;
	border: none;
	padding: 10px;
	border-radius: 7px;
}

.msg_box2 textarea{
    width: 100%;
    border-radius: 7px;
    resize: vertical;
    padding: 10px;
}
.sent_btn{
    text-align: right;
    margin-top: 20px;
}

/* footer */


/* footer */

.footer{
    padding-top: 50px;
}
.logo_sec p{
    color: #fff;
    margin-top: 30px;
}

.footer-menu h5{
    color: #fff;
}
.footer-menu h6 a{
    text-decoration: none;
    color: #CBCFD4;
}
.logo{
    display: flex;
}
.logo i{
    color: #A154F2;
    margin-right: 8px;
}
.logo h6 a{
    text-decoration: none;
    color: #CBCFD4;
}
.last_sec{
    padding: 10px;
 padding-top: 30px;
 
}
.last_sec h6{
    color: #fff;
    font-size: 14px;
}

/* responsive */

@media(max-width: 767px){
    .check_btn {
        padding: 9px 7px;
        background-image: linear-gradient(to right, #F27A54, #A154F2);
        color: #fff;
        font-weight: 600;
        border: none;
        font-size: 12px;
    }
    .footer{
        /* margin-top: 50px; */
        text-align: center;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .footer-menu{
        margin-top: 20px;
    }

}

@media(max-width: 575px){
    .input_field {
        flex-direction: column;
    }
    .check_dom {
        width: 100%;
    }
    .title_txt {
        padding: 50px 10px;
    }
    .footer{
        /* margin-top: 50px; */
    }
    .whyus {
        margin-top: 50px;
        padding-bottom: 50px;
    }
}
